@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

:root {
  --c-ship: rgb(69, 69, 170);
  --c-hover: rgb(172, 129, 50);
  --c-hit: rgb(117, 48, 48);
  --c-miss: #302626;
  --c-bg: #2e2a2ad0;
  --c-border: #111111;
  --c-text: #cccccc;
  --gap: 2vw;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--c-text);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--c-bg);
}

h1{
  text-align: center;
  padding: var(--gap);
}

.playername {
  text-align: center;
}

.side-by-side-height {
  height: calc((100vw - (var(--gap) * 3)) / 2);
}
.side-by-side {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
  gap: var(--gap);
  padding: var(--gap);
}

.shiplist {
  text-align: center;
  list-style-type: none;
}

.shiplist > li {
  /* some prop */
}

.shiplist > li.destroyed {
  text-decoration: line-through;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, auto);
  border: 1px solid black;
}

.cell {
  padding: 0;
  background-color: grey;
  border: 1px solid var(--c-border);
  text-align: center;
}

.enabled>.cell.target:hover {
  background-color: var(--c-hover);
}

.cell.ship {
  background-color: var(--c-ship);
  border: 1px solid var(--c-border);
}

.cell.miss {
  background-color: var(--c-miss);
}

.cell.hit {
  background-color: var(--c-hit);
}

.hide {
  display: none;
}

#winstatus {
  position: absolute;
  left: 25%;
  right: 25%;
  text-align: center;
  background-color: var(--c-bg);
  border: 2px solid var(--c-border);
  padding: var(--gap);
  border-radius: var(--gap);
}

.nospace {
  padding: 0;
  margin: 0;
}
