@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1{
  text-align: center;
  padding: 5vh;
}

.side-by-side {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, auto);
  width: 50vh;
  height: 50vh;
  border: 1px solid black;
}

.cell {
  padding: 0;
  background-color: grey;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 100%;
}
.enabled>.cell:hover {
  background-color: orange;
}